.Weather {
    border: 1px solid #DBDADE;
    margin: 30px auto;
    max-width: 600px;
      font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
padding: 16px;
border-radius: 4px;

}

.Weather h1 {
  font-size: 24px;  
  font-weight: 100;
  margin: 20px 0px 0px 0px;
  line-height: 29px;
 color: #878787;
}

.Weather ul {
    margin:0px;
    padding: 0px;
}

.Weather li {
    color: #878787;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather .currentTemperature {
    font-size: 64px;
    color: #474040;
}

.Weather .unit {
        color: #878787;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
}


.Weather form {
    margin-bottom: 20px;
    
}